// Place all the styles related to the castaways controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tile {
	transition: border 1s;
	-webkit-transition: border 1s;
	-moz-transition: border 1s;
}
.rival {
	border: 1px solid red;
}
